
table 
{
    width: auto;
    font: 17px Calibri;
}
table, th, td 
{
  background-color: rgb(154, 221, 221);
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

table, th, td 
{
    margin:  10px 0;
    border: solid 1px #333;
    padding: 10px 10px;
    font: 15px Verdana;
}
th {
    color: red;
    background-color: rgb(227, 236, 103);
    font-weight:bold;
}
